@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&family=Mukta:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Open+Sans&display=swap");
@import url("https://fonts.google.com/specimen/Cedarville+Cursive?query=Cursive");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* PARTIE MAIN */
.main {
  width: 100%;
  background-color: #0f0f0f;
  min-height: 100vh;
}

.versionEmoji {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

/* Body container */
.main .body-container {
  width: 100%;
  padding: 70px 100px;
  display: flex;
}

.main .body-container h2 {
  color: #0d6e3e;
}

.experience-info {
  display: flex;
  align-items: center; /* Aligns items vertically centered, if you want them top-aligned, remove this */
}

.experience-info > span:last-child {
  margin-left: auto;
  color: #d0d0d0;
}

.projects-info {
  display: flex;
  align-items: center; /* Aligns items vertically centered, if you want them top-aligned, remove this */
}

.projects-info > span:last-child {
  margin-left: auto;
  color: #d0d0d0;
}

/* Body left part */
.main .body-container .left {
  width: 70%;
}

.main .body-container .left section {
  /* background-color: #282828; */
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  /* color: #ffffff; */
}

.main .body-container .left section article h2 {
  margin-bottom: 15px;
}

.main .body-container .left section article p {
  text-align: justify;
}

.main .body-container .left section.projects article {
  margin-top: 25px;
  width: 100%;
}

.main .body-container .left section.projects article img.featured-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.main .body-container .left section.projects article .project-info h3 {
  margin: 20px 0;
}

.main .body-container .left section.projects article .project-info p {
  text-align: justify;
}

.main
  .body-container
  .left
  section.projects
  article
  .project-info
  .project-link {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main
  .body-container
  .left
  section.projects
  article
  .project-info
  .project-link
  .btn {
  background-color: #0d6e3e;
  color: #ffffff;
}

.main .body-container .left section.projects article.article-item {
  display: flex;
}

.main .body-container .left section.projects article.article-item .left {
  width: 35%;
  margin-right: 10px;
}

.main .body-container .left section.projects article.article-item .left img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.main .body-container .left section.projects article.article-item .right {
  width: 75%;
}

.main .body-container .left section.projects article.article-item .right p {
  margin: 10px 0;
  text-align: justify;
}

.main .body-container .left section.experiences article {
  margin: 10px 0;
}

.inline-container {
  display: inline-block;
}

/* FOOTER */
footer {
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Splash Screen */
.welcome-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.top-right-image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: auto;
}

.top-right-image:hover {
  transform: scale(1.2);
}

.welcome-title {
  font-family: cursive;
  font-size: 3.5rem;
  color: #333;
  margin-bottom: 15px;
  opacity: 0;
  transform: translateY(-30px);
  animation: fadeInUp 0.8s forwards 0.2s;
}

.welcome-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
  color: #555;
  margin-bottom: 25px;
  margin-top: 25px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 0.8s forwards 0.4s;
}

.fba-img {
  background-color: #e6e6e6;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  max-width: 100%;
}

.fba-img:hover {
  transform: scale(1.05);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.horizontal-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
}

.horizontal-line h1 {
  color: #ffffff;
  font-family: cursive;
}

.language-btn {
  background-color: #0d6e3d;
  color: #ffffff;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: cursive;
}

/* Les media queries */

/* Media query for desktops */
@media (max-width: 1000px) {
  .main .body-container {
    flex-direction: column;
    padding: 50px 30px;
  }

  .main .body-container .left {
    width: 100%;
  }
}

/* Media query for laptops */
@media (max-width: 740px) {
  .main .body-container .left section.projects article.article-item {
    flex-direction: column;
  }

  .main .body-container .left section.projects article.article-item .left {
    width: 100%;
  }

  .main .body-container .left section.projects article.article-item .right {
    width: 100%;
  }
}

/* Media query for tablets */
@media (max-width: 768px) {
  .fba-img {
    border-radius: 15px;
    max-width: 90%;
  }
  .welcome-title {
    font-size: 2.5rem;
  }
  .horizontal-line {
    padding: 0px 15px;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .fba-img {
    border-radius: 10px;
    max-width: 70%;
  }
  .welcome-title {
    font-size: 1.75rem;
  }
  .horizontal-line {
    padding: 0px 10px;
    font-size: 13px;
  }
}

@media (max-width: 410px) {
  .horizontal-line {
    flex-direction: column;
  }
  .horizontal-line .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .horizontal-line .buttons .language-btn {
    padding: 5px 5px;
  }
}
